.footer {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  height: 45vh;
  justify-content: end;
  scroll-snap-align: center;

  @include respond(tab-land) {
    gap: 2rem;
  }

  @include respond(phone) {
    gap: 1rem;
    height: 95vh;
  }

  &__content {
    padding: 4rem;

    @include respond(laptop) {
      padding: 3rem;
    }

    @include respond(tab-land) {
      padding: 2rem;
    }

    @include respond(phone) {
      padding: 1rem 2rem;
    }

    &__logo {
      display: inline-block;
      padding: 0 2rem 0.5rem 2rem;

      @include respond(phone) {
        padding: 0;
        text-align: center;
        width: 100%;
      }
    }

    &__lists {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      margin-top: 2rem;
      flex-wrap: wrap;

      @include respond(phone) {
        flex-direction: column;
        margin-top: 2rem;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__banner {
    color: $color-white;
    padding: 1rem;
    text-align: center;
  }

  &--c {
    &__banner {
      background-color: $color-c-primary-dark;
    }

    &__logo {
      border-bottom: 0.25rem solid $color-c-primary-dark;

      @include respond(phone) {
        border-bottom: none;
      }
    }
  }

  &--b {
    &__banner {
      background-color: $color-b-primary;
    }

    &__logo {
      border-bottom: 0.125rem solid $color-b-primary;

      @include respond(phone) {
        border-bottom: none;
      }
    }
  }
}
