.banner {
  &--c {
    &--principal,
    &--beneficios,
    &--app,
    &--rede {
      height: 100vh;
      position: relative;
      overflow: hidden;
      scroll-snap-align: center;
    }

    &--beneficios:nth-child(1),
    &--app {
      @extend %selection-secondary-theme;
    }

    &--principal {
      background-color: $color-c-primary-dark;

      &__content {
        display: grid;
        gap: 2rem 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        padding: 2rem;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include respond(tab-land) {
          gap: 1rem 0;
          grid-template-columns: 100%;
          grid-template-rows: auto auto auto;
        }

        &__logo {
          animation: 2s appear forwards;
          display: block;
          grid-column: 1 / span 2;
          grid-row: 1/2;
          margin: 0 auto;
        }

        &__ilustracao {
          align-items: center;
          animation: 2s slide-to-right forwards;
          display: flex;
          flex-direction: column;
          grid-column: 1/2;
          grid-row: 2/2;
          height: 32rem;
          justify-content: center;
          object-fit: contain;
          width: 100%;

          @include respond(tab-land) {
            place-self: center;
            height: auto;
            margin-top: 6rem;
            width: 50%;
          }
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          grid-column: 2/2;
          grid-row: 2/2;
          justify-content: center;
          max-width: 40rem;

          @include respond(tab-land) {
            grid-column: 1/1;
            grid-row: 3/3;
            text-align: center;
            max-width: 100%;
            width: 100%;
          }

          & > .heading--c--primary {
            animation: 2s slide-to-bottom forwards;
            opacity: 0;
          }

          & > .heading--c--secondary {
            animation: 0.5s appear forwards;
            animation-delay: 1.5s;
            opacity: 0;
          }
        }
      }

      &__figure {
        position: absolute;
        z-index: 0;

        &--azul {
          top: 5%;
          right: -10%;
        }

        &--branca {
          top: 15%;
          left: 20%;
        }

        &--laranja {
          left: -10%;
          bottom: -10%;
        }
      }
    }

    &--beneficios {
      &:nth-child(even) &__content {
        flex-direction: row-reverse;

        @include respond(tab-land) {
          flex-direction: column;
        }
      }

      &__container {
        background-color: $color-c-primary-dark;
      }

      &__content {
        align-items: center;
        display: flex;
        gap: 8rem;
        height: 100%;
        justify-content: center;
        padding: 2rem 4rem;
        position: absolute;
        width: 100%;
        z-index: 2;

        @include respond(laptop) {
          gap: 6rem;
        }

        @include respond(tab-land) {
          justify-content: start;
          flex-direction: column;
          gap: 4rem;
          padding: 2rem;
        }

        @include respond(phone) {
          gap: 2rem;
          padding: 1rem;
        }

        &__cartao {
          border-radius: 1rem;
          box-shadow: 0 0.25rem 1rem 0.25rem rgba($color-black, 0.32);
          transition: all 0.3s ease-in-out;

          @include respond(laptop) {
            width: 16rem;
          }

          @include respond(tab-land) {
            width: 12rem;
          }

          &:hover {
            transform: scale(1.1);
          }
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          max-width: 40rem;

          @include respond(laptop) {
            gap: 1rem;
            max-width: 32rem;
          }

          @include respond(tab-land) {
            max-width: 100%;

            & > h1 {
              text-align: center;
            }
          }
        }

        & ul {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding-left: 2rem;

          & > li {
            color: $color-white;
            font-size: 1.25rem;
            font-weight: 500;

            @include respond(laptop) {
              font-size: 1rem;
            }
          }
        }
      }

      &--azul {
        background-color: $color-c-primary-dark;
        background-image: linear-gradient(to right, $color-c-primary-dark,$color-c-primary-light);
      }

      &--laranja {
        background-color: $color-c-secondary;
        // background-image: linear-gradient(to left, $color-orange-500,$color-orange-300);
        background-image: linear-gradient(to right, $color-c-primary-dark,$color-c-primary-light);
      }

      &:nth-child(odd) &__figure {
        display: none;
      }
      &__figure {
        position: absolute;

        &--azul {
          left: 5%;
          top: 5%;
        }

        &--branca {
          left: 40%;
          top: 50%;
        }

        &--laranja {
          right: 5%;
          top: 10%;
        }
      }
    }

    &--app {
      background-color: $color-c-secondary;

      &__content {
        align-items: center;
        display: flex;
        gap: 8rem;
        height: 100%;
        justify-content: center;
        padding: 2rem;

        @include respond(laptop) {
          gap: 2rem;
        }

        @include respond(tab-land) {
          flex-direction: column;
        }

        @include respond(phone) {
          padding: 1rem;
        }

        &__left {
          &__ilustracao {
            transform: rotate(10deg);
            width: 24rem;

            @include respond(laptop) {
              width: 16rem;
            }

            @include respond(tab-land) {
              width: 14rem;
            }
          }
        }

        &__right {
          display: flex;
          flex-direction: column;
          gap: 4rem;

          @include respond(tab-land) {
            align-items: center;
            justify-content: center;
            gap: 2rem;
          }

          &__texts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 34rem;
            text-align: justify;

            @include respond(tab-land) {
              max-width: 40rem;
              text-align: center;
              width: 100%;
            }

            @include respond(phone) {
              max-width: 100%;
            }
          }

          &__buttons {
            display: flex;
            gap: 2rem;

            @include respond(phone) {
              gap: 1rem;
            }
          }
        }
      }
    }

    &--rede {
      background-color: $color-c-primary-dark;

      &__content {
        align-items: center;
        display: flex;
        gap: 2rem 4rem;
        height: 100%;
        justify-content: center;
        padding: 2rem;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include respond(laptop) {
          gap: 2rem 3rem;
        }

        @include respond(tab-land) {
          gap: 2rem;
          flex-direction: column;
        }

        &__ilustracao {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 28rem;
          justify-content: center;
          object-fit: contain;

          @include respond(laptop) {
            height: 22rem;
          }

          @include respond(tab-land) {
            height: 18rem;
          }
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          max-width: 32rem;

          @include respond(tab-land) {
            max-width: 100%;
            text-align: center;
          }

          & > h2 {
            text-align: justify;

            @include respond(tab-land) {
              text-align: center;
            }
          }
        }

        &__button {
          & button {
            margin-top: 4rem;
            padding: 1rem 4rem;

            @include respond(laptop) {
              margin-top: 2rem;
              padding: 1rem 3rem;
            }

            @include respond(tab-land) {
              margin-top: 1rem;
            }
          }
        }
      }

      &__figure {
        position: absolute;
        z-index: 0;

        &--azul {
          top: 5%;
          right: -10%;
        }

        &--branca {
          top: 15%;
          left: 20%;
        }

        &--laranja {
          left: -10%;
          bottom: -10%;
        }
      }
    }
  }

  &--b {
    &--principal,
    &--novidade {
      background-color: $color-b-primary;
      height: 100vh;
      overflow: hidden;
      padding: 0;
      position: relative;
      scroll-snap-align: center;

      &__logo {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 4rem;

        @include respond(phone) {
          margin-top: 2rem;
        }
      }

      &__content {
        align-items: center;
        display: flex;
        gap: 6rem;
        justify-content: center;
        margin-top: 8rem;
        padding: 0 4rem;
        position: absolute;
        width: 100%;
        z-index: 1;

        @include respond(laptop) {
          gap: 4rem;
          padding: 0 2rem;
        }

        @include respond(tab-land) {
          flex-direction: column-reverse;
          gap: 2rem;
          margin-top: 4rem;
        }

        @include respond(phone) {
          padding: 0 1rem;
        }

        &__texts {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          max-width: 28rem;

          @include respond(tab-land) {
            max-width: 100%;
            text-align: center;
          }
        }

        &__button {
          margin-top: 2rem;

          @include respond(phone) {
            margin-top: 1rem;
          }
        }

        &__ilustracao {
          border-radius: 50%;
          height: 24rem;
          object-fit: cover;
          outline: 0.125rem solid $color-white;
          outline-offset: 2rem;
          width: 24rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            box-shadow: 0 1rem 1rem rgba($color-white, 0.32);
            outline-offset: 0.5rem;
            transform: scale(1.1);
          }

          @include respond(laptop) {
            height: 18rem;
            outline-offset: 1rem;
            width: 18rem;
          }

          @include respond(tab-land) {
            height: 14rem;
            width: 14rem;
          }
        }
      }

      &__figure {
        border: 0.125rem solid $color-white;
        border-radius: 50%;
        position: absolute;
        height: 68rem;
        left: -5%;
        bottom: -30%;
        width: 68rem;
      }
    }

    &--conta-digital {
      align-items: center;
      background-color: $color-b-primary;
      display: flex;
      height: 100vh;
      justify-content: center;
      overflow: hidden;
      padding: 4rem;
      position: relative;
      scroll-snap-align: center;

      @include respond(tab-land) {
        padding: 2rem;
      }

      &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 8rem;

        @include respond(laptop) {
          gap: 4rem;
        }

        @include respond(tab-land) {
          flex-direction: column;
        }

        @include respond(phone) {
          gap: 2rem;
        }

        &__ilustracao {
          border-radius: 50%;
          height: 24rem;
          outline: 0.125rem solid $color-white;
          outline-offset: 1.5rem;
          transition: all 0.3s ease-in-out;
          width: 24rem;

          @include respond(laptop) {
            height: 18rem;
            width: 18rem;
          }

          @include respond(tab-land) {
            height: 14rem;
            width: 14rem;
          }

          @include respond(phone) {
            height: 12rem;
            width: 12rem;
          }

          &:hover {
            box-shadow: 0 1rem 1rem rgba($color-white, 0.32);
            outline-offset: 0.5rem;
            transform: scale(1.1);
          }
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          max-width: 28rem;

          @include respond(tab-land) {
            text-align: center;
            max-width: 100%;
          }
        }

        &__button {
          margin-top: 4rem;

          @include respond(tab-land) {
            margin-top: 2rem;
          }

          @include respond(phone) {
            margin-top: 1rem;
          }
        }
      }
    }

    &--beneficios {
      background-color: $color-white;
      padding: 4rem;
      scroll-snap-align: center;

      @include respond(laptop) {
        padding: 3rem;
      }

      @include respond(tab-land) {
        padding: 2rem;
      }

      @include respond(phone) {
        padding: 1rem;
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 8rem;
        scroll-snap-align: center;

        @include respond(tab-land) {
          gap: 6rem;
        }

        @include respond(phone) {
          gap: 4rem;
        }

        &__card {
          align-items: center;
          background-color: $color-b-primary;
          border-radius: 1rem;
          display: flex;
          gap: 8rem;
          height: 32rem;
          justify-content: center;
          overflow: hidden;
          padding: 4rem;
          transition: all 0.3s ease-in-out;

          @include respond(laptop) {
            gap: 4rem;
            height: 26rem;
            padding: 2rem;
          }

          @include respond(tab-land) {
            height: 20rem;
          }

          @include respond(phone) {
            height: 18rem;
          }

          &:hover {
            background-color: $color-b-hard-dark;
          }

          &__ilustracao {
            border-radius: 50%;
            height: 16rem;
            object-fit: cover;
            outline: 0.125rem solid $color-white;
            outline-offset: 1.5rem;
            transition: all 0.3s ease-in-out;
            width: 16rem;

            @include respond(laptop) {
              height: 12rem;
              width: 12rem;
            }

            @include respond(tab-land) {
              display: none;
            }

            &:hover {
              box-shadow: 0 1rem 1rem rgba($color-white, 0.32);
              outline-offset: 0.5rem;
              transform: scale(1.1);
            }
          }

          &__conteudo {
            background-color: $color-b-hard-dark;
            border-radius: 50%;
            color: $color-white;
            font-size: 1.5rem;
            max-width: 36rem;
            padding: 4rem;
            transition: all 0.3s ease-in-out;

            @include respond(laptop) {
              font-size: 1.25rem;
              padding: 3rem;
            }
            
            @include respond(phone) {
              font-size: 1rem;
            }

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        &__card:hover &__card__conteudo {
          background-color: $color-b-primary;
        }

        &__card:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
    }

    &--emprestimo-consignado {
      background-color: $color-b-primary;
      height: 100vh;
      padding: 4rem;
      scroll-snap-align: center;

      @include respond(laptop) {
        padding: 2rem;
      }

      &__content {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        gap: 8rem;

        @include respond(laptop) {
          gap: 3rem;
        }

        @include respond(tab-land) {
          flex-direction: column-reverse;
          gap: 2rem;
        }

        &__ilustracao {
          width: 32rem;

          @include respond(laptop) {
            width: 24rem;
          }

          @include respond(tab-land) {
            width: 20rem;
          }

          @include respond(phone) {
            width: 16rem;
          }
        }

        &__texts {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          max-width: 40rem;

          @include respond(laptop) {
            gap: 1rem;
          }

          @include respond(tab-land) {
            max-width: 100%;
            text-align: center;
          }
        }

        &__footer {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 4rem;

          @include respond(laptop) {
            margin-top: 2rem;
          }

          @include respond(tab-land) {
            align-items: center;
          }
        }

        &__buttons {
          display: flex;
          gap: 2rem;

          @include respond(laptop) {
            gap: 1rem;
          }
        }
      }
    }
  }
}
