@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$font-primary: "Lato", sans-serif;

$color-b-primary: #1cbcd9;
$color-b-soft-dark: #00add4;
$color-b-soft-light: #70c7de;
$color-b-hard-dark: #21244d;
$color-b-hard-light: #2b2b69;
$color-b-light: #dbe8f2;

$color-c-secondary: #f47f39;
$color-c-primary-dark: #132048;
$color-c-primary-light: #457cbe;

$color-white: #f2f2f2;
$color-black: #1a1a1a;

$color-gray-50: #f7f7f7;
$color-gray-100: #f0f0f0;
$color-gray-200: #e3e3e3;
$color-gray-300: #d1d1d1;
$color-gray-400: #bdbdbd;
$color-gray-500: #aaaaaa;
$color-gray-600: #969696;
$color-gray-700: #818181;
$color-gray-800: #6a6a6a;
$color-gray-900: #585858;
$color-gray-950: #333333;

$color-orange-50: #fef6ee;
$color-orange-100: #feead6;
$color-orange-200: #fbd1ad;
$color-orange-300: #f8b079;
$color-orange-400: #f47f39;
$color-orange-500: #f1641e;
$color-orange-600: #e24a14;
$color-orange-700: #bc3712;
$color-orange-800: #952c17;
$color-orange-900: #782816;
$color-orange-950: #411109;
