* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

html ::-webkit-scrollbar-thumb {
  background: $color-c-primary-dark;
  border-radius: 3.5rem;
}

html ::-webkit-scrollbar-track {
  background-color: $color-gray-50;
}

::selection {
  background-color: $color-c-secondary;
  color: $color-white;
  font-weight: 700;
}

:root {
  background-color: $color-white;
  color: $color-black;
  font-size: 100%;
  font-synthesis: none;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  text-rendering: optimizeLegibility;
}
